.middle_menu{
    position: absolute;
    top: 50%;
    transform: translate(30%,-50%);
    width: 16%;
}
.menu {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.item {
    border-top: 1px solid #3977af;
    overflow: hidden;
}
.btn_menu {
    display: block;
    padding: 16px 20px;
    background: #3977af;
    color: white;
    position: relative;
    font-size: 14px;
}
.btn_menu:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #3977af;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}
.btn_menu i{
    margin-right: 10px ;
}
.smenu {
    background: #333;
    overflow: hidden;
    transition: max-height 0.7s;
    max-height: 0;
}
.smenu a{
    display: block;
    padding: 16px 26px;
    color: white;
    font-size: 14px;
    margin: 4px 0;
    position: relative;
}
.smenu a:before{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #3977af;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}
.smenu a:hover:before{
    opacity: 1;
}
.menu input{
    display: none;
}
.menu label {
    cursor: pointer;
}

.item input:checked ~ .smenu{
    max-height: 20em;
}
.item input:default ~ .smenu{
    max-height: 20em;
}


/* Ekstra kode */

.popup_mid {
    position: absolute;
    top: 18%;
    width: 60%;
    height: 80%;
    right: 45%;
    transform: translate(50%);
}
.popup_content {
    width: 0px;
    height: 0px;
    border-radius: 8px;
    overflow: hidden;
}

.pop_top {
    width: 20%;
    height: 15%;
    margin: auto;
    padding-top: 0.8%;
    border-radius: 25px;
    color: white;
    text-align: center;
}

.pop_top h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}


.pop_left {
    border-radius: 8px;
    margin-top: 3%;
    width: 30%;
    height: 75%;
    float: left;
    margin-left: 1%;
}

.pop_right {
    border-radius: 8px;
    margin-top: 3%;
    width: 65%;
    height: 75%;
    float: right;
    margin-right: 1%;
}


/* tabellerne */

.left_table {
    border-collapse: collapse;
    width: 100%;
    border: none;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

.left_table tr    {
    background-color: #3498DB
}

.left_table td, th {
    text-align: center;
    padding: 8px;
    border: none;

}

tr:nth-child(even){background-color: #f2f2f2}

.left_table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.left_table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.left_table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

.left_table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal2-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    border-radius: 25px;
}


/* The Close Button */
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal2-content input {
    border-radius: 25px;
    height: 35px;
}

.modal2-content button {
    background-color: #3977af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 40px;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form_per {
    margin-top: 5%;
}


/* crud delens css */

.submitButton {
    width: 75px;
    height: 37px;
}

