.main-site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.modal-wrp {
  position: relative;
  z-index: 2;
  width: 40%;
  max-width: 500px;
  min-height: 500px;
  min-width: 500px;
  padding: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, .8);
  border-radius: 10px;
  background-color: #fff;
  background-image: linear-gradient(27deg, rgba(5, 10, 51, .85), rgba(67, 114, 223, .7)), url('../images/Modal-Background.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  box-shadow: 11px 11px 50px 5px rgba(0, 0, 0, .2);
  -webkit-filter: contrast(120%);
  filter: contrast(120%);
}

.form-logo {
  width: 200px;
  height: 100px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  background-image: url('../images/myhours_logo.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.close-wrp {
  position: absolute;
  left: auto;
  top: 5%;
  right: 5%;
  bottom: auto;
  width: 50px;
  height: 50px;
  background-image: url('../images/Close-Button.png');
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(.165, .84, .44, 1);
  transition: -webkit-transform 600ms cubic-bezier(.165, .84, .44, 1);
  transition: transform 600ms cubic-bezier(.165, .84, .44, 1);
  transition: transform 600ms cubic-bezier(.165, .84, .44, 1), -webkit-transform 600ms cubic-bezier(.165, .84, .44, 1);
}

.close-wrp:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.field-label {
  margin-bottom: 10px;
  margin-left: 20px;
  color: hsla(0, 0%, 100%, .6);
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px none #000;
  border-radius: 25px;
  background-color: hsla(0, 0%, 100%, .1);
  color: #fff;
  font-weight: 700;
}

.checkbox-label {
  color: hsla(0, 0%, 100%, .6);
  font-weight: 700;
}

.body {
  font-family: Lato, sans-serif;
}

.cb-field {
  margin-left: 20px;
}

.submit-btn {
  width: 100%;
  margin-top: 30px;
  border-radius: 25px;
  background-color: hsla(208.00000000000003, 74.34%, 53.23%, 0.75);
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: hsla(208.00000000000003, 75.69%, 39.84%, 1.00);
}

.form {
  padding-bottom: 50px;
  border-bottom: 1px solid hsla(0, 0%, 100%, .25);
}

.forgot-password-link {
  display: block;
  margin-top: 30px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: hsla(0, 0%, 100%, .5);
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}

.forgot-password-link:hover {
  color: #fff;
}

.tab {
  margin-right: 30px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: transparent;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: hsla(0, 0%, 100%, .6);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.tab:hover {
  color: #fff;
}

.tab.w--current {
  border-bottom: 3px solid rgba(47, 142, 224, .75);
  background-color: transparent;
  color: #fff;
}

.tabs-menu {
  margin-bottom: 50px;
}

.checkbox {
  color: #d52020;
}

.open-btn {
  position: absolute;
  left: auto;
  top: 50px;
  right: 50px;
  bottom: auto;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2F8EE0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/Modal-Background.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

@media (max-width: 767px) {
  .open-btn {
    top: 30px;
  }
}

@media (max-width: 479px) {
  .modal-wrp {
    width: 100%;
    height: 100%;
    min-width: auto;
    padding-right: 25px;
    padding-left: 25px;
  }
  .tabs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .open-btn {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 99;
  }
}